# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_file = os.path.join('..', 'output_data', 'cities_1.csv')
#output_file = os.path.join('..', 'output_data', 'cities_1.csv')

city_df = pd.read_csv(csv_file)
city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,0,hermanus,2,ZA,1619860787,58,66.99,-34.4187,19.2345,1.99
1,1,sabla,0,NG,1619860787,22,97.92,12.7525,4.7077,9.40
2,2,khatanga,91,RU,1619860787,99,32.88,71.9667,102.5000,6.73
3,3,yenangyaung,36,MM,1619860788,27,101.14,20.4667,94.8833,7.45
4,4,victoria,100,HK,1619860739,72,82.00,22.2855,114.1577,1.99
...,...,...,...,...,...,...,...,...,...,...
155,155,yellowknife,90,CA,1619860828,93,23.00,62.4560,-114.3525,11.50
156,156,kruisfontein,0,ZA,1619860829,50,69.01,-34.0033,24.7314,3.00
157,157,great falls,1,US,1619860644,46,55.00,47.5002,-111.3008,12.66
158,158,mahebourg,75,MU,1619860829,69,82.40,-20.4081,57.7000,11.50
159,159,baykit,100,RU,1619860829,89,40.21,61.6700,96.3700,7.78

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
humidity = city_df["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = city_df[["Lat", "Lng"]]

In [6]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
narrowed_city_df = city_df.loc[(city_df["Temp"] > 70) & (city_df["Temp"] < 80) & (city_df["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,107,himare,0,AL,1619860816,53,78.8,40.1017,19.7447,4.61

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotellist = []

for i in range(len(narrowed_city_df)):
    lat = narrowed_city_df.loc[i]['Lat']
    lng = narrowed_city_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
narrowed_city_df["Hotel Name"] = hotellist
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed,Hotel Name
0,107,himare,0,AL,1619860816,53,78.8,40.1017,19.7447,4.61,HimarÃ«

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig
# Display figure

Figure(layout=FigureLayout(height='420px'))